h1{
    color:blue;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    }
h2{
    color:black;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: left;
    }
    
}
.questions{
    ß
}
#school{
    color:gold;
    }
#logo{
     display: flex;
    justify-content: center;
    }
body {
    background: linear-gradient(to bottom, #0033cc 0%, #ffcc66 100%);
}

img {
    width: 100px;
    height: 100px;
}